name: app_blocker
description: Simple app to block apps on schedule with Google Calendar integration.
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: '>=3.0.0 <4.0.0'
  flutter: '>=3.0.0'

dependencies:
  flutter:
    sdk: flutter
  
  # Google Calendar API
  googleapis: ^11.0.0
  google_sign_in: ^6.1.0
  googleapis_auth: ^1.4.0
  
  # UI & Navigation
  cupertino_icons: ^1.0.0
  intl: ^0.18.0

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true
